// navbar colors

$nav-background-dark: rgba(49, 52, 62, 0.9);
$nav-foreground-dark: #838386;
$nav-background-light: rgba(255, 255, 255, 0.4);
$nav-foreground-light: #2d2c2c;

// white and grays

$off-white: #fcfcfc;
$almost-white: #f9f9f9;
$off-black: #1b1a1a;
$dark-gray: #424040;
$light-gray: #c6c6c6;

// brand colors

$google-blue: #4285f4;
$facebook-blue: #3C5A99;
$youtube-red: #de2925;
$deviant-green: #04cc48;
