// navbar colors

$nav-background-dark: rgba(49, 52, 62, 0.9);
$nav-foreground-dark: #838386;
$nav-background-light: rgba(255, 255, 255, 0.4);
$nav-foreground-light: #2d2c2c;

// white and grays

$off-white: #fcfcfc;
$off-black: #1b1a1a;
$dark-gray: #424040;
