// navbar colors

$nav-background-dark: rgba(49, 52, 62, 0.9);
$nav-foreground-dark: #838386;
$nav-background-light: rgba(255, 255, 255, 0.4);
$nav-foreground-light: #2d2c2c;

// white and grays

$off-white: #fcfcfc;
$almost-white: #f9f9f9;
$off-black: #1b1a1a;
$dark-gray: #424040;
$gray-transparent: rgba(49, 52, 62, 0.5);
$light-gray: #c6c6c6;
$light-gray-transparent: rgba(198, 198, 198, 0.4);
$lighter-gray-transparent: rgba(212, 207, 207, 0.4);
$almost-white-transparent: rgba(249, 249, 249, 0.8);

// brand colors

$nice-orange: #FC8D59;
$google-blue: #4285f4;
$facebook-blue: #3C5A99;
$youtube-red: #de2925;
$deviant-green: #04cc48;
