// theme the app, we can use variables here...

body {
  background-color: $almost-white;
  font-family: 'Quicksand', sans-serif;
}

a.button {
  display: inline-block;
  padding: 4px 6px;
  margin: 2px 0;
  background-color: $gray-transparent;
  color: white;
  border-radius: 3px;
  border: 1px solid $almost-white-transparent;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $nav-background-dark;
  }
}

a {
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.loading-spinner {
  .path {
    stroke: $google-blue;
  }
}

.header {
  transition: all 0.8s ease;
  background-color: $nav-background-light;
  a {
    color: $dark-gray;
    border-bottom: 1px solid transparent;
    &.route--active {
      color: $off-black;
      border-bottom: 2px solid $google-blue;
    }
    &:hover {
      color: lighten($dark-gray, 30%);
    }
  }
  &.dark {
    background-color: $nav-background-dark;
    a {
      color: $nav-foreground-dark;
      &.route--active {
        color: $off-white;
      }
      &:hover {
        color: lighten($nav-foreground-dark, 30%);
      }
    }
  }
}

.footer-image {
  background-color: $almost-white;
  .overlay {
    background-color: rgba(249, 249, 249,0.5);
  }
}
.footer-text {
  color: $off-white;
  background-color: $nav-background-dark;
}

.home-top {
  .profile-container {
    h2, h3 {
      color: $off-white;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    h3 {
      font-weight: lighter;
      font-family: 'Pacifico', cursive;
    }
  }
}

.card {
  //border-color: $light-gray;
  .card-desc {
    background-color: rgba(0,0,0,0.5);
    color: $off-white;
    &.google {
      .service-logo {
        background-color: $google-blue;
      }
    }
    &.squarespace {
      .service-logo {
        background-color: $off-white;
      }
    }
  }
  // hover color effects
  a:hover {
    .card-desc {
      &.google {
        color: $google-blue;
      }
      &.facebook {
        // color: $facebook-blue;
        color: lighten($facebook-blue,40%);
      }
      &.youtube {
        color: $youtube-red;
      }
      &.deviantart {
        color: $deviant-green;
      }
      &.squarespace {
        color: $light-gray;
      }
    }
  }
}

.resume {
  font-family: Inconsolata;
  h1, h2, h3 {
    font-family: Rubik;
  }
  section {
    h3 {
      border-bottom: 2px solid $google-blue;
      padding: 4px;
      background-color: $lighter-gray-transparent;
    }
  }
  .card {
    background-color: $off-white;
  }
  .top-panel {
    color: $off-white;
    background-color: $nav-background-dark;
  }
  .border-panel {
    color: $dark-gray;
    background-color: $almost-white-transparent;
  }
  .name {
    h2 {
      background-color: $gray-transparent;
    }
  }
}

.twitter-data {
  font-family: Nunito;
  h1,h2,h3,h4,h5 {
    font-family: Pacifico;
  }
  section {
    background-color: $lighter-gray-transparent;
  }
  .state-list-container {
    .state-list {
      color: white;
      background-color: $google-blue;
    }
  }
}
