.loading-spinner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.overlay {
    background-color: rgba(255,255,255,0.2);
    z-index: 100;
  }
  .spinner {
    animation: rotator 1.4s linear infinite;
  }
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }
  .path {
    stroke: #4285f4;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite;
  }
}
.loading-spinner-enter {
  opacity: 0;
}
.loading-spinner-enter.loading-spinner-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.loading-spinner-leave {
  opacity: 1;
}
.loading-spinner-leave.loading-spinner-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.loading-spinner-appear {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.loading-spinner-appear.loading-spinner-appear-active {
  opacity: 1;
}
