@use "sass:math";
@use "sass:list";
@use "../../styles/colors";

.container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.core-layout__viewport {
  padding-top: 56px;

  @media print {
    // no header for print, just some padding
    padding-top: 12px;
  }

  min-height: calc(100vh);
}



.starscape {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -200;
  background-color: colors.$dark-theme-bg;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
  }

  // Generate a bunch of random "stars" using box-shadow
  // In scss, we can build a string of shadows
  $shadows-small: (
  );

@for $i from 1 through 300 {
  $shadows-small: list.append($shadows-small, (math.random(2000) + px) (math.random(2000) + px) #fff, comma);
}

$shadows-medium: (
);

@for $i from 1 through 100 {
  $shadows-medium: list.append($shadows-medium, (math.random(2000) + px) (math.random(2000) + px) #fff, comma);
}

&::before {
  box-shadow: $shadows-small;
  animation: twinkle 5s linear infinite;
}

&::after {
  width: 3px;
  height: 3px;
  box-shadow: $shadows-medium;
  animation: twinkle 7s linear infinite reverse;
}
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.footer-image {
  position: relative;
  z-index: -100;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 580px;
  margin-top: -510px;

  &.dark {
    background-image: url('./assets/buildings_night_2.png');
    background-color: colors.$dark-theme-bg;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 250px);
    mask-image: linear-gradient(to bottom, transparent 0%, black 250px);
  }

  &.light {
    background-image: url('./assets/white_sands_alt.jpg');
  }

  .overlay {
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.footer-text {
  width: 100%;
  height: 4em;
  margin-top: -4em;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .name {
    font-family: 'Pacifico', cursive;
  }
}