@use '../../../styles/colors';

#hashtag-bubbles {
  overflow: hidden;
  position: relative;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  /* fill: #DCE9BE; */
  fill: #99C2FF;
  stroke: #666;
}

.bubble-hover {
  fill: colors.$neon-green;
  stroke: #fff;
}

.bubble-selected {
  fill: colors.$neon-purple;
  stroke: colors.$neon-cyan;
  stroke-width: 2px;
}

/*
.active {
  color: #A6BA92
}
*/

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}