.twitter-data {
  padding: 0 12px;
  .container {
    text-align: left;
  }
  section {
    border-radius: 3px;
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h2 {
    margin: 2px 0 8px;
  }
  .range-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    label {
      font-size: 16px;
      font-weight: 400;
    }
    input[type=range] {
      height: 18px;
      margin: 4px 0;
      width: 100%;
    }
  }
  #data-map {
    max-width: 1200px;
    margin-bottom: 8px;
  }
  .state-list-container {
    .state-list {
      padding: 4px;
      margin: 2px 4px 2px 0;
      border-radius: 3px;
      display: inline-block;
    }
  }
  #hashtag-bubbles {
    max-width: 1200px;
    margin-bottom: 8px;
  }
  #happy-bar {
    position: relative;
    max-width: 1200px;
    margin-bottom: 8px;
  }
}
